twitter_creds/access_token.txt
twitter_creds/access_token_secret.txt
twitter_creds/client_id.txt
twitter_creds/client_secret.txt
twitter_creds/bearer_token.txt
twitter_creds/api_key.txt
twitter_creds/api_key_secret.txt

hachyderm_creds/access_token.txt
hachyderm_creds/client_id.txt
hachyderm_creds/client_secret.txt

